/* Start of Bootrap CSS */ 
body,html {
    height: 100%;
    margin: 0;
    padding: 0;

}
.eating-banner{
  position: relative;
  height: 100%;
  overflow: hidden;
  background: url(https://images.unsplash.com/photo-1533777857889-4be7c70b33f7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 15px;
  opacity: .95;
}
.container-1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  text-align: center;
  color: #FEFCEB;
  font-weight: 700;
  text-transform: uppercase;
}

.container-1 h1{
  font-size: 72px;
  letter-spacing: 0.2em;
  margin: 0;
}

.container-1 h1 span{
  border-bottom: 10px solid #F7DE78;
  padding: 6px 14px;
  display: inline-block;
}
/* End of Boostrap CSS */

.eating-title{
  font-weight: bold;
  font-size: 2rem;
  color: WHITE;
}

.search-title{
  font-weight: bold;
  font-size: 2.5rem;
  color: WHITE;
  text-align:center;
}

.main-input{
  width: 50%;
  text-align: center;
}

.center{
  text-align: center;
}

#review-link{
  color: white;
  text-decoration: underline;
  text-align: center;
  font-size: 1.35rem;
}


#search-container {
  padding-right: 30px;
  
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

#diningReviews {
  color: BLACK;
  font-size: 2rem;
  text-align: center;
}

#collegeInfo {
  color: BLACK;
  text-align: left;
  padding-left: 5px;
  font-size: 1.1rem;
}

#collegeTitleCard {
  color: BLACK;
  text-align: left;
  padding-left: 5px;
  font-size: 2rem;
}

#submitButton {
  padding-top: 20px;
}

#forkRatingLeft {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAACYklEQVRIie3Uv2tTURTA8e/Ji7YlTW5ipYo4CAoKVXQQhyZRpAiCWEWKOPgHdHNoFyfHSrVdpA4u/gNC/bkIpWCTonTQosXFQUG0CG3fj9iCNu84tIH68pK0SZzsWd7j3HPf5/56F7ajwXDz5raTM4tLU8nj1eqizUTtvLmrygDwq1ZtpJmorKOikb5U1p7V6f1thdexPf8MDqKJ7NIzL9/e6fjem+Jq9HNhMra36bCdM3fC0KJaEwLHFD7FWlJOsF9De+zmzJDCIKAicjWR+Qs9Cjpnid8j3V9XSoctlbVnAaR+NNmr6BMAhRUTiXcU1I6XUIUPlhR74unCD3cqdVHFfwQUTMbpaGjGKnoLXXsXaHN97z1YcYHOCuhOgQel/vUvtdIVyBxcf86HoSqMmLRzs1TcyOH6XiFfaJek575KXi6hqI4m087gxqJGZrxS4YQccnxvQSK0rdXpqMm6A8Giumbs5lJZhCOV2oXqaF3wUj55QvHHqfFHqDJcCQWwtoI6U4nzAi+A1EYD5CNQAFqAd6J+v8m696t9a9N7bOdMP3Av0GdBfP9S4rSX3/zw16LmBaJKxJk2w+vX4sbw/IicSXXbb7eK1oR1klY3ah4iXAs0FQW5ksjYT+tBocpSu5Px3e4O6zFounxEeiORdepGK8JebleXT/E56IEyUxhJZtyxRlAIWWpnOnEKX14CpgyFcZN2+kTwG4XL/2NfxsJQYGa5NXa9GWg4DIdDcl+s36u9+05+W24GGgqrMBFIORGsC+1nf843Cw2Fo9Zqv8I44AEziJ6LZxbnmolux/8RfwCSdANJ04hdlgAAAABJRU5ErkJggg==");
  height: 30px;
  background-repeat: repeat-x;
  background-position: left;
}

#forkRatingRight {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAACSElEQVRIie3Uv2sUQRTA8e8bj4tHCCKRaDpBQSGKVjYioiIIYvyBhYVFitsfpJEQEa28TokmjeTYnS38B4QYfzRCSgux0KDBxkKbGIQUIVkPBPdZJAfnsXtJbi9VnGaZN2/ms7O8t7DdhnT6QMdxHoqIKyJnwjCczcordBJ1XfcxMAr8Xi/XbAUqItfDMJwdGRkplcvlvVsGp6Avfd/vi+P4nTHm2/Dw8L6Ow57nPUpDkySZAY4CX7u6upaa9+UqLtd1HwB3ARWRq2EYTjegR4A5Y8zZIAh+ep53DKBecG3DjuMMisj02rTW3d3dW6vVehrQz8aYc2voJVV9BqxYa3shR1WLyP2GaSmO409AD9CXgRYBW9+Qp50GmuYH1p4LGei4tfZePTlPcf3IiK+USqVl13Wv1FFVnbDW3m5MynPjWkb8YBzHi0AJQFUnoigabU5q68blcvkUcLhFSku0LdhxnOPGmCnW74ixLBRgx2ZQz/MuAK+B3Q1hBb4AK0AX8FFV/SiKqq3O2nAfe57nq+oT/q2LRWPM5SAI3m747TcKVyoVMz8/P8bqb7FxLBtjTgdB8GGz6Lrw0NDQzmKx+BS40bT0R1WvRVH0oh0UWrST67p7VPU5cDJl+VYeNBN2HGcAeCUi+1OWx621k3nQVNj3/RNJkrwBdjWvichUf3//nbwopPRxkiSTaSjwXlVvViqVZEtg4FBK7HuhUBi01v7qBJoFzzTNl1T1YrVaXegUmgonSeKLyBSwzOrnPR9F0Vwn0f9je4y/8jvv4eRiDR0AAAAASUVORK5CYII=");
  height: 30px;
  background-repeat: repeat-x;
  background-position: right;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 20px;
  margin-right: 20px;
  border-style: inset;
  border-width: 1px;
}